
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:antiquewhite;
}


 .hero{
  width: 100%;
  height: 90vh;
  min-height: 400px;
  max-height: 550px;
  background-image: url(../images/banner_.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 80px;
  position: relative;
}


.hero::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
}


.hero_content{
  position: relative;
  color: white;
  max-width: 600px;
}


.script{
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  color: #ffffff;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}


.bold{
  font-family: 'Poppins', sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: #f4a623;  /* orange */
  line-height: 1;
  letter-spacing: 1px;
}


.hero_content p{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 20px 0;
  color: #eaeaea;
}


.hero_btn{
  text-decoration: none;
  background: #ff7a2f;
  padding: 14px 35px;
  border-radius: 40px;
  color: white;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  transition: 0.3s;
}

.hero_btn:hover{
  background: #e65c00;
  transform: scale(1.05);
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #343131;
    color: white;
}
.logo{
    font-size: 22px;
    font-weight: bold;
    color: #fff;
     margin-right: 260px;
}
.logo span{
    color: #f4a623;
}

.nav_links{
    font-size: 20px;
    display: flex;
    list-style: none;
    gap: 30px;  
    
}

.nav_links li a{
    text-decoration: none;
    color: white;
}


.login_btn a{ 
    text-decoration: none;
    background: linear-gradient(45deg, #ff4d4d, #ff7a2f);
    /* background-color: #ff7a2f; */
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
    font-weight: bold;

}
.nav_right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart_icon a {
    font-size: 22px;
    text-decoration: none;
    color: white;
}

.cart_icon a:hover {
    color: #c25a5a;
}

.cart_icon i {
    font-size: 20px;
}


.search_box {
    position: relative;
}

.search_box input {
    padding: 6px 30px 6px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #222;
    color: #e0e0e0;
}

.search_box input::placeholder {
    color: #aaa;
}

.search_box input:focus {
    border: 1px solid #c25a5a;
    box-shadow: 0 0 5px #c25a5a;
}


.search_box i {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #aaa;
}


.nav_links li a:hover {
    color: #c25a5a;
}

.logout_icon {
    display: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.login_link {
    color: white;
    text-decoration: none;
}

.logout_icon:hover {
    color: #ddd;
    transform: scale(1.2);
}


.about_wrapper{
    padding: 80px 20px;
    display: flex;
    justify-content: center;
}

.about{
    
    width: 100%;
    max-width: 1100px;
    background: #fff8e6;
    border-radius: 25px;
    padding: 50px;
    display: flex;
    gap: 40px;
    align-items: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.about_text{
    flex: 1;
}

.about_text h2{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

.about_text span{
    color: #f4a623;
}

.about_text p{
    font-size: 17px;
    line-height: 1.7;
    color: #333;
    margin-bottom: 25px;
}


.about_btn{
    padding: 12px 28px;
    border: none;
    background: linear-gradient(45deg, #ff4d4d, #ff7a2f);
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.about_btn:hover{
    transform: scale(1.05);
}


.about_image{
    flex: 1;
    display: flex;
    justify-content: center;
}

.about_image img{
    width: 100%;
    max-width: 420px;
    height: auto;
    border-radius: 25px;
    object-fit: cover;
}

.features{
    text-align:center;
    padding: 70px 20px;
    background: linear-gradient(to right, #252424, #492424);
}

.features h2{
    font-size: 34px;
    margin-bottom: 10px;
    color: white;
}

.features p{
    color: #666;
    margin-bottom: 40px;
}

.feature_box{ 
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.box{
    background-color: #fff;
    padding: 25px;
    width: 220px;
    border-radius: 10px;
    border: 1px solid #eee;
    transition: 0.3s;
}


.box:hover{
    transform: translateY(-6px);
    border-color: #c25a5a;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}


.icon{
    font-size: 30px;
    margin-bottom: 12px;
    color: #c25a5a;
}


.box h3{
    margin: 10px 0;
    color: #222;
}

.box p{
    font-size: 14px;
    color: #777;
}



.menu-section {
    padding: 60px 80px;
    text-align: center;
    background: #f8f9fa;
}

.menu-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}


.menu-filters {
    margin-bottom: 30px;
}

.menu-filters button {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    background: #e0e0e0;
    cursor: pointer;
    transition: 0.3s;
}

.menu-filters button.active,
.menu-filters button:hover {
    background: #0c1a2b;
    color: white;
}


.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


.menu-card {
    background: #0c1a2b;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
}

.menu-card:hover {
    transform: translateY(-8px);
}


.menu-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background: #f5f5f5;
    border-bottom-left-radius: 40px;
}



.card-content {
    padding: 15px;
    color: white;
    text-align: left;
}

.card-content h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.card-content p {
    font-size: 14px;
    opacity: 0.8;
}



.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.price span {
    font-weight: bold;
}

.price i {
    background: orange;
    padding: 10px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}


.cart-btn {
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    transition: 0.3s;
}

.cart-btn:hover {
    color: orange;
    transform: scale(1.2);
}


.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.view-more {
    margin-top: 30px;
}

.view-more button {
    padding: 10px 25px;
    border: none;
    background: orange;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.view-more button:hover {
    background: #ff8800;
}

.cart-item{
        display: flex;
        align-items: center;
        gap: 15px;
         border: 1px solid #461919;
        padding: 15px;
        margin: 10px 0;
         border-radius: 10px;
}
.cart-item img{
        border-radius: 10px;
}


 .login-wrapper{
    display: flex;
    height: 100vh;
}

 .login-left{
    flex: 1;
    background: url('../images/banner.png') no-repeat center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;

}

.login-left h1{
    font-size: 40px;
}
.login-left p{
    font-size: 18px;
}

.login-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    background-color: #fff;
}
.login-right h2{
    margin-bottom: 20px;
}

.login-right input{
     padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}
.login-right input:focus {
    border-color: orange;
}

.login-right button {
    padding: 12px;
    background: orange;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.login-right button:hover {
    background: #ff8800;
}
.extra {
    margin-top: 10px;
    font-size: 14px;
}

.extra span {
    color: orange;
    cursor: pointer;
}
#error {
    color: red;
    margin-top: 10px;
}


.footer {
    background: #111;
    color: #fff;
    padding: 50px 20px 20px;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}


.footer-col {
    width: 220px;
}


.footer-col h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.go {
    color: #f4a623;
}


.footer-col h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
}


.footer-col p {
    color: #bbb;
    font-size: 14px;
    line-height: 1.6;
}


.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin: 8px 0;
}

.footer-col ul li a {
    color: #bbb;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #c25a5a;
    padding-left: 5px;
}


.social-icons {
    margin-top: 10px;
}

.social-icons span {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    background: #1a1a1a;
    padding: 8px 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.social-icons span:hover {
    background: #c25a5a;
    transform: translateY(-3px);
}


.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
    color: #888;
    border-top: 1px solid #222;
    padding-top: 15px;
}

.cart-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cart-page #cart-container{
    flex: 1;
}

#cart-container{
    width: 60%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.cart-item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}


.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
   
}


.cart-total{
    margin-top: 2px;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(135deg, #ff7a18, #af002d);
    color: white;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.cart-total h2{
    margin-bottom: 10px;
}

.cart-total h3{
    font-size: 28px;
    margin-bottom: 15px;
}


.cart-total button{
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background: white;
    color: #af002d;
    font-weight: bold;
    cursor: pointer;
}

.cart-total button:hover{
    background: black;
    color: white;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.offer-banner{
    background: linear-gradient(135deg, #ff7a18, #af002d);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.offer-banner h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.offer-banner p{
    font-size: 18px;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}


